/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    min-height: 10vh;
    background-color: var(--bg);
    /
}

.links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-size: 18px;
    font-weight: 300;
}

.links>a:hover {
    color: #00D8FF;
    font-weight: 500;
}